body {
	padding: 0; 
	margin: 0;
	background-color:#F08080 ;
}

.module {
	width: 100px;
	height: 100px;
	background-color:#E9967A;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -51px;
	margin-left: -51px;
	border: 1px #F08080;
}

/* Add your styles below */

p {
	font-family:"Zapfino";
    font-style:italic;
    text-decoration:none;
    font-size:10px;
    text-align:center;
    color:purple;
    margin-bottom:0px;
	background-color: Powderblue;
}
 img {
width: 40px;
position: absolute;
top:25px;
left: 50px;
}

a {
	color: blue;
}

a:hover {
	color: "#6495ED";
}

